<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-width=1.0"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/toggle">
  <input style="background:<%=color%>;color:#fff;width: 100%;" type="submit" value="Turn <%=toggle%>">
    </form>
  </body>
</html>
